.bg-img {
    /** background: url("src/assets/bg.png")  no-repeat;**/
    background: url(https://i.pinimg.com/originals/de/d9/bf/ded9bfd8480627cb23133403b01241ed.png) no-repeat;
     margin-right: auto;
     height: 100vh;
     background-size: cover;
     background-position: center;
     
  }

  .box{
    border-color: #00004d;
    border-style:ridge;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 999;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-size: medium;
    padding: 15px 50px;
    background-image: /* rgba(255, 255, 255, 0.04)*/ url(https://images.unsplash.com/photo-1551794804-840faad68ba9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTY3fHxibGFjayUyMHBlbmNpbHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-color: #404040;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    height: 80%;
    width: 25%;
    border-radius: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .logo {
    background:url("src/assets/bg.png") no-repeat;
    background-size: cover;
    transform: translate(30%, 20%);
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 45%;
    margin:0 auto;
   
}

.box header{
    color: whitesmoke;
    transform: translate(-15%, -25%);
    font-weight: bolder;
    font-size: 30px;
    font-weight: bold;
    padding-top: 80px;
    margin: 38px 80px -30px 48px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: double red;
}

.btn-primary {
    padding: 10.5px;
    font-size: large;
    transform: translate(1.5%, 450%);
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.link {
    padding: 10.5px;
   
    font-size: large;
    transform: translate(1.5%, 300%);
    border-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}